 .d-block{
    height: 650px;
    position: relative;
  }

  .category .col-lg-4 {

    padding: 20px;
  }

/*Category*/
.category {
  background-color: rgb(255, 236, 179);
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Mali", cursive;
}

.cardd {
  width: 195px;
  height: 190px;
  text-align: center;
  border-radius: 100px;
  /* box-shadow: 5px 40px 2px 0 rgba(250, 250, 249, 0.808); */
}

.cardd Img {
  height: 170px;
  width: 170px;
}

.cardd img {
  margin-inline: 10px;
}

.CardTitle {
  color: rgba(110, 76, 26, 0.925);
  font-size: 18px;
  text-decoration-line: none;
}

.CardTitle:hover {
  color: rgba(253, 253, 253, 0.925);
  background-color: rgba(161, 128, 79, 0.925);
  border-radius: 10px;

  text-decoration-line: none;
  padding: 3px;
  font-size: 19px;
}

.row{
  padding-bottom: 50px;
  padding-right: 400px;
  padding-left: 400px;
}

/* tupanjai */
.tupanjai {
  background-color: rgba(177, 146, 99, 0.925);
  height: 550px;
  width: 100%;
  margin: 0;
  font-family: "Mali", cursive;
}

.tupanjai .row {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.tpjj {
  text-align: center;
  padding-top: 190px;
  padding-right: 100px;
}

.tpjj p {
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 4px rgba(43, 18, 2, 0.925);
}
.tpjj a {
  font-size: 45px;
  font-family: "Chonburi", cursive;
  color: rgba(77, 50, 9, 0.925);
  text-decoration-line: none;

  font-weight: bold;
  text-shadow: 5px 5px 2px rgba(231, 229, 226, 0.925);
}
.tpjj .tpj:hover {
  font-size: 55px;
}

.tpjj .far {
  color: white;
  text-shadow: none;
  font-size: 40px;
}

/*รอยยิ้ม*/
h1,
p {
  font-size: 15px;
  margin-top: 15px;
  padding: 0px;
  font-family: "Mali", cursive;
  color: rgb(32, 17, 6);
}


  /*รอยยิ้ม*/
  .too img{
    width:750px;
    height:600px;
  }

  h1, p {
    font-size: 15px;
    margin-top: 15px;
    padding: 0px;
    font-family: 'Mali', cursive;
    color: rgb(32, 17, 6);
  }

  h2 {
    font-size: 30px;
    margin: 70px;
    text-align: center;
    font-family: 'Mali', cursive;
    font-weight: bold;
    color: rgb(151, 114, 85);
    
  }

  h3{
    padding: 50px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: rgba(141, 90, 18, 0.925);
  
  }

  .card{
    background-image: url("../img/01.jpg"); 
    
  }   

  ul.card-stacks {

    list-style-type: none;
    margin: 0px 380px 0px;
    padding: 0px;
    position: relative;
    cursor: pointer;
    height:670px;

  }
  

ul.card-stacks {
  list-style-type: none;
  margin: 0px 450px 0px;
  padding: 0px;
  position: relative;
  cursor: pointer;
  height: 670px;
}

ul.card-stacks li.stack {
  position: absolute;
  left: -100px;
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.02);
}

ul.card-stacks li.stack ul.cards-down li.card {
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.22);
  left: 0px;
  transition-delay: 0.4s;
  background: #fff;
  overflow: hidden;
  height: 200px;
  width: 210px;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  box-shadow: 3px 4px 2px 0 rgba(85, 52, 4, 0.925);
}

ul.card-stacks li.stack ul.cards-down li.card img {
  max-width: 100%;
  height: 80%;
}

ul.card-stacks li.stack ul.cards-down li.card div.content {
  padding: 5px 5px;
}

ul.card-stacks li.stack ul.cards-down li.card.card-1 {
  z-index: 10;
  transform: rotateZ(-2deg);
}

ul.card-stacks li.stack ul.cards-down li.card.card-2 {
  z-index: 9;
  transform: rotateZ(-7deg);
}


ul.card-stacks.transition li.stack.stack-2 {
  left: 180px;
}

ul.card-stacks.transition li.stack.stack-3 {
  left: 460px;
}

ul.card-stacks.transition li.stack ul.cards-down li.card {
  transform: rotateZ(0deg);
}

ul.card-stacks.transition li.stack ul.cards-down li.card.card-1 {
  top: 440px;
}

ul.card-stacks.transition li.stack ul.cards-down li.card.card-2 {
  top: 220px;
}

.bigpopup {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.144);
  color: rgb(133, 102, 2);
  width: 100%;
  height: 100%;
  justify-items: center;
}

.popup {
  margin-top: 100px;
  color: rgb(124, 96, 4);
  text-align: center;
}

.p {
  height: 320px;
  width: 500px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

/* .pum Button{
color: rgb(255, 255, 255);
background-color: rgb(109, 83, 0);
height: 30px;
margin: 10px;
font-size: 20px;
 } */

.pum .pummoney {
  background-color: rgb(109, 83, 0);
  width: 90%;
  font-size: 20px;
  margin-top: 10px;
}
.pum .btn {
  color: rgb(255, 255, 255);
  background-color: rgb(230, 184, 0);
  padding: 9px 15px;
  font-size: 15px;
  margin-top: 20px;

  border-radius: 35px;
}

.pum .btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(136, 105, 3);
}

.pum btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: rgb(255, 255, 255);
  background-color: #ceb56f;
  border-color: #f8b628;
}

.pum .btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 50%);
}
.pum .btn-primary {
  border-color: rgb(240, 236, 236);
}

.pum primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ceb56f;
  border-color: #f8b628;
}
.love {
  color: #7c580b;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
}
/* .here{
  padding-right: 1000px;
} */
.column .container {
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0px;
}
/* .lover{
  text-align: left;
  padding: 0px;
} */

/* 
.lover:hover{
  background-color: #ceb56f;
} */

.love:hover {
  color: #271c03;
  text-decoration: none;
  background-color: #fdfdfd;
  font-weight: bold;
  font-family: "Mali", cursive;
}

.popup .row {
  padding: 0px 140px 0px 140px;
}

.pum .dropdown {
  color: white;
  text-decoration: none;
  padding: 0px;
}

.pum .fas {
  margin-top: 20px;
}

.dropdown-item {
  padding: 0px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100%;
  background-color: #000;
}
/* dasbord */
/* .Total-donation{
  background-color:rgba(231, 222, 208, 0.925) ;
  height: 350px;
  width: 100%;
  margin: 0;
  font-family: 'Mali', cursive;

}
.grid-container-donation {
  display: grid;
  grid-template-columns: 500px 500px ;
  padding: 50px 250px;

}
.grid-item-donation {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.text-donation-money p {
  color: #7c580b;
  font-size: 30px;
  font-weight: bold;
  text-shadow: rgb(231, 189, 140) 0.1em 0.1em 0.1em

}
.text-donation-people p {
  color: #7c580b;
  font-size: 30px;
  font-weight: bold;
  text-shadow: rgb(231, 189, 140) 0.1em 0.1em 0.1em
}
.nunber-donation-money p {
  color: #7c580b;
  font-size: 30px;
}
.nunber-donation-people p {
  color: #7c580b;
  font-size: 30px;
} */

.bg-dashboaed {
  background-color: rgba(231, 222, 208, 0.925);
  height: auto;
  width: 100%;
  margin: 0;
  font-family: "Mali", cursive;
  padding: 20px;
}
.bg-dashboaed1 {
  background-color: rgb(248, 248, 247);
  height: 80%;
  width: 70%;
  
  display: block;
  margin: 0 auto;
  font-family: "Mali", cursive;
}
.bg-dashboaed p {
  color: rgba(102, 66, 9, 0.925);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.table-dashboaed {
  width: 700px;
  margin: 0 auto;
}

/*responsive*/
@media only screen and (max-width: 1024px) {
  .p {
    width: 580px;
    font-size: 30px;
    height: 500px;
    
} 

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 2rem;
}

.row {
  padding-bottom: 100px;
  padding-right: 200px;
  padding-left: 200px;
}
.tpjj p{
  font-size: 19px;
  
  padding: 0px 0px 0px 100px;
    color: white;
  text-shadow: 2px 2px 4px  rgba(43, 18, 2, 0.925);
}
.tupanjai img {
  vertical-align: middle;
  width: 600px;
  height: 500px;
}
.tpjj {
  text-align: center;
  padding-top: 150px;
  padding-right: 20px;
}
.tpjj a {
  font-size: 35px;
}
.tupanjai {
  height: 500px;
}
ul.card-stacks {
  list-style-type: none;
  margin: 50px 180px 0px;
  padding: 0px;
  position: relative;
  cursor: pointer;
  height: 670px;
}
h2 {
  font-size: 30px;
  margin: 70px;
  text-align: center;
  font-family: 'Mali', cursive;
  font-weight: bold;
  color: rgb(151, 114, 85);
}
.tupanjai .column {
  padding: 0px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px; 
 margin-left: 0px;
}
.bg-dashboaed {
  background-color: rgba(231, 222, 208, 0.925);
  height: auto;
  width: 100%;
  margin: 0;
  font-family: "Mali", cursive;
  padding: 20px;
}
.bg-dashboaed1 {
  background-color: rgb(248, 248, 247);
  height: 80%;
  width: 70%;
 
  display: block;
  margin: 0 auto;
  font-family: "Mali", cursive;
}
.bg-dashboaed p {
  color: rgba(102, 66, 9, 0.925);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.table-dashboaed {
  width: 500px;
  margin: 0 auto;
}
ul.card-stacks li.stack {
  position: absolute;
  left: -80px;
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.02);
}
}

@media only screen and (max-width: 768px) {
  
 .p{
    width: 360px;

    height: 320px;

    font-size: 20px;
  }
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }

  .popup .row {
    padding: 0px 60px 0px 60px;
  }

.d-block {
  height: 250px;
  position: relative;
}
h3 {
  padding: 40px 0 10px 0;
  font-size: 25px;
}
.cardd Img {
  height: 100px;
  width: 100px;
}
.row {
  padding: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
 
}
.cardd {
  width: 120px;
  height: 110px;
  text-align: center;
  border-radius: 100px;
  padding: 0px;
  margin: 0px; 

 }

 ul.card-stacks li.stack {
  position: absolute;
  left: 80px;
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.02);
}
ul.card-stacks {

  margin: 0px 20px 0px 60px;
  height: 450px;
}
ul.card-stacks.transition li.stack.stack-1 {
  left: -40px;
}

ul.card-stacks.transition li.stack.stack-2 {
  left: 75px;
}
ul.card-stacks.transition li.stack.stack-3 {
  left: 190px;
}
ul.card-stacks.transition li.stack ul.cards-down li.card.card-2 {
  top: 130px;
}
ul.card-stacks.transition li.stack ul.cards-down li.card.card-3 {
  top: 0px;
}
h2 {
  font-size: 20px;
  margin: 70px 0px 50px 0px;
}
ul.card-stacks li.stack ul.cards-down li.card {

    height: 100px;
    width: 100px;

}

.smile .card{
  background-image: url("../img/01.jpg"); 
  width: 100%;
}  
.smile p {
  font-size: 5px;
  margin-top: 0px;
  padding: 0px;
  font-family: 'Mali', cursive;
  color: rgb(32, 17, 6);
}
ul.card-stacks li.stack ul.cards-down li.card div.content {
  padding: 10px 0px;
}

.smile .col-lg-4 {
  padding: 20px 0px 10px 0px;
}


.CardTitle {
  
  font-size: 15px;

}
.category {
  background-color: rgb(255, 236, 179);
  height: 600px;
  width: 100%;
  margin: 0;
  font-family: 'Mali', cursive;
}
.category .card-body {
  flex: 1 1 auto;
  padding: 5px 20px 20px 0px;
  width: 150px;
}


.tpjj p {
  font-size: 14px;
  padding: 0px 0px 0px 10px;
  color: white;
  text-shadow: 2px 2px 4px rgb(43 18 2 / 93%);
}
.tupanjai {
  height: 600px;
}
.tpjj {
  text-align: center;
  padding-top: 0px;
  padding-right: 0px;
}
.tupanjai img {
  vertical-align: middle;
  width: 360px;
  height: 350px;
}
.tupanjai p {
  font-size: 18px;
  margin-top: 0px;
  padding: 0px 50px 0px 50px;
  font-family: 'Mali', cursive;
}
.tpjj a {
  font-size: 25px;
}
.tpjj .far {
  color: white;
  text-shadow: none;
  font-size: 25px;
}
.CardTitle:hover {
  color: rgba(253, 253, 253, 0.925);
  background-color: rgba(161, 128, 79, 0.925);
  border-radius: 10px;
  text-decoration-line: none;
  padding: 3px;
  font-size: 15px;
}
.tpjj .tpj:hover {
  font-size: 35px;
}

.popup .p {
  width: 360px;
  height: 320px;
  font-size: 20px;
}.bg-dashboaed {
  background-color: rgba(231, 222, 208, 0.925);
  height: auto;
  width: 100%;
  margin: 0;
  font-family: "Mali", cursive;
  padding: 10px;
}
.bg-dashboaed1 {
  background-color: rgb(248, 248, 247);
  height: 80%;
  width: 99%;
  
  display: block;
  margin: 0 auto;
  font-family: "Mali", cursive;
}
.bg-dashboaed p {
  color: rgba(102, 66, 9, 0.925);
  font-size:  20px;
  font-weight: bold;
  text-align: center;
}
.table-dashboaed {
  width: 300px;
  margin: 0 auto;
  
}

.card p {
  font-size: 10px;
  margin-top: 5px;
  padding: 0px;
  font-family: 'Mali', cursive;
  color: rgb(32, 17, 6);
}

ul.card-stacks li.stack ul.cards-down li.card div.content {
  padding: 0px 0px;
}
}    
