.bg-tutorial {
    background-color: rgba(192, 175, 136, 0.699);
    height: auto;
    padding: 50px;
  }
  
.bg-tutorial1 {
    background-color: rgba(240, 230, 217, 0.733);
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
  }
  .grid-container-tutorial {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item-tutorial {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 5px;
    font-size: 30px;
    text-align: center;
  }
  .pic-tutorial {
    width: 250px;
    
  }
  .pic-tutorial:hover {
    transform: scale(3);
    cursor: pointer;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    
  }
  /* วิธีใช้ */
  .topic-tutorial p {
    color: rgb(109, 84, 34);
  border: 40px;
  font-size: 32px;
  text-shadow: 0.1em 0.1em rgb(182, 173, 156);
  display: block;
  margin: auto;
  text-align: center;
  padding: 20px;
  
  }
  /* 1. วิธีการบริจาคเงินให้กับมูลนิธิต่าง ๆ */
  .topic-tutorial-1 p {
    color: rgb(114, 83, 16);
    border: 40px;
  font-size: 20px;
  padding-left: 50px;
 
  }